<div style="display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: flex-start;
align-content: space-between;">
    <div markdown="span" class="fs-1 text-grey-dk-000">
        {{ item['date'] | date: "%d-%m-%Y" }}
    </div>
    <div markdown="span" class="mx-3">
        <!-- [{{ item['heading'] }}]( {{site.baseurl}}{{ item['page'].link }} "{{ item['description'] }}" ){: .tooltips} -->
        <a href="{{site.baseurl}}{{ item['page'].link }}"
            class="tooltips">{{ item['heading'] }}<span>{{ item['description'] }}</span></a>
    </div>
</div>